@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    margin: 0;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: whitesmoke;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}
#heading {
    display: flex;
    flex-direction: row;
    position: relative;
}
.welcome-text {
    padding-left: 20px;
}
#nav {
    position: absolute;
    right: 0px;
    margin: 0;
}
#nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin: 0;
}
#nav li {
    margin: 0;
    padding: 0;
}
#nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 25px;
    font-size: 20px;
}
#nav a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}
section {
    padding: 20px;
    background-color: whitesmoke;
    z-index: 2;
}
.text1 {
}
#intro {
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    color: white;
    height: 200px;
    animation: alternate text 2s;
    z-index: 2;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 5px 5px 10px grey;
}
.intro-img {
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translate3d(100px, 175px, 0px) ;
    z-index: 1;

}
#intro:hover {
    background-color: slateblue;
    box-shadow: 5px 5px 10px grey;
}
@keyframes text {
    0% { text-align: left; transform: translateY(-300px); width: 25%;}
    50% { text-align: left; width: 50%;}
    100% {width: 95%; text-align: left;}
}
#intro::after {
    content: 'Welcome to my portofolio';
}
article {
    color: white;
}
#project {
    background-color: slategrey;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.text {
    background-color: slateblue;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    animation: alternate texts 2s;
    z-index: 1;
}

@keyframes texts {
    0% { text-align: center; width: 25%;}
    50% { text-align: center; width: 50%;}
    100% {width: 95%; text-align: center;}
}

#flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: alternate project 2s;
}
@keyframes project {
    0% {margin-left: -300px; width: 25%;}
    50% {width: 50%;}
    100% {width: 100%;}
}
#flex-container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    animation: alternate project 2s;
}
@keyframes project {
    0% {margin-left: -300px;width: 25%;}
    50% {width: 50%;}
    100% {width: 100%;}
}

#bookManager {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
.project-text {
    font-size: 20px;
}
.project-text a {
    text-decoration: none;
    color: slateblue;
}
.project-img {
    max-width: 100%;
    border-radius: 20px;
    background-size: cover
}

#whatsappClone {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 500px)  {
    #flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        animation: alternate project 1s;
    }
    #flex-container2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        animation: alternate project 1s;
    }
    #nav {
        display: none;
    }
    .text1 {
        position: relative;
        overflow: visible;
        color: aqua;
    }
    .intro-img {
        position: absolute;
        bottom: 0;
        right: 50px;
        transform: translate3d(180px, 125px, 0px) ;
        z-index: 1;
        background-color: whitesmoke;
        border-top-left-radius: 95%;
        width: 360px;
        border: none;
    }
    .welcome-text {
        text-align: center;
    }
    header {
        background-color: black;
    }
    #heading {
        flex-direction: column;

        border-radius: 20px;
        color: white;
    }
}