@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    margin: 0;
}
* {
    font-family: 'Josefin Sans', sans-serif;
}
.hamburger {
    display: none;
}
header {
    background-color: whitesmoke;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}
#heading {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: sticky;
    top: 0;
}
.welcome-text {
    padding-left: 20px;
}
#nav {
    position: absolute;
    right: 0px;
    margin: 0;
}
#nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin: 0;
}
#nav li {
    margin: 0;
    padding: 0;
}
#nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 25px;
    font-size: 20px;
}
#nav a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}
section {
    padding: 20px;
    background-color: whitesmoke;
    z-index: 2;
}
#intro {
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    color: white;
    height: 200px;
    animation: alternate text 2s;
    z-index: 2;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 5px 5px 10px grey;
}
.intro-img {
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translate3d(220px, 220px, 0px) ;
    z-index: 1;
    background-color: #F9F9F9;
    border-radius: 75%;

}
#intro:hover {
    background-color: slateblue;
    box-shadow: 5px 5px 10px grey;
}
@keyframes text {
    0% { text-align: left; transform: translateY(-300px); width: 25%;}
    50% { text-align: left; width: 50%;}
    100% {width: 95%; text-align: left;}
}
#intro::after {
    content: 'Welcome to my portofolio';
}
article {
    color: white;
}
#project {
    background-color: slategrey;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.text {
    background-color: slateblue;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    animation: alternate texts 2s;
    z-index: 2;
}

@keyframes texts {
    0% { text-align: center; width: 25%;}
    50% { text-align: center; width: 50%;}
    100% {width: 95%; text-align: center;}
}

#flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: alternate project 2s;
    z-index: 2;
}

@keyframes project {
    0% {margin-left: -300px; width: 25%;}
    50% {width: 50%;}
    100% {width: 100%;}
}
#flex-container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    animation: alternate project 2s;
}
@keyframes project {
    0% {margin-left: -300px;width: 25%;}
    50% {width: 50%;}
    100% {width: 100%;}
}

#bookManager {
    background-color: slateblue;
    color: black;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.design {
    background-color: black;
    height: 600px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(75deg);
    border-top-right-radius: 80%;
    transform: translateY(5px);
    z-index: 1;
}
.project-text {
    font-size: 18px;
    position: relative;
    color: white;
    z-index: 2;
}
.project-text a {
    text-decoration: none;
    color: slateblue;
}
.project-img {
    max-width: 100%;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.project2-img {
    max-width: 100%;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    z-index: 2;
}


#whatsappClone {
    position: relative;
    overflow: hidden;
    background-color: slateblue;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 500px)  {
    #flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        animation: alternate project 1s;
    }
    #flex-container2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        animation: alternate project 1s;
    }
    #nav {
        display: none;
    }
    .text1 {
        position: relative;
        color: aqua;
        z-index: 2;
    }
    #intro::after {
        position: relative;
        content: 'Welcome to my portofolio';
        color: aqua;
        z-index: 2;
    }
    .intro-img {
        position: absolute;
        bottom: 0;
        right: 50px;
        transform: translate3d(150px, 135px, 0px) ;
        z-index: 1;
        background-color: whitesmoke;
        border-top-left-radius: 150%;
        width: 340px;
        border: none;
    }
    .welcome-text {
        text-align: center;
    }
    header {
        background-color: black;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #heading {
        flex-direction: column;

        border-radius: 20px;
        color: white;
    }
    .design {
        background-color: black;
        height: 600px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(75deg);
        border-top-right-radius: 99%;
        transform: translateY(5px);
        z-index: 1;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 45px;
    }
    .project-img {
        scale: 0.9;
    }
    .project2-img {
        scale: 0.9;
    }
}